<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .error {
            color: red;
        }
    </style>
    <title>Order Delivery Details</title>
</head>
<body data-th-object="${contact}">


    <h1>Delivery Details</h1>
    <label>OrderNumber: </label>
    <a th:href="@{/order/{id}(id=*{id})}"><label data-th-text="*{id}"></a>
    <br>
    <br>
    <label>Your order will be delivered to: </label><label data-th-text="*{address}"></label>
    <br>
    <br>
    <label>Pizza cost: </label><label data-th-text="*{total}"></label>
    <br>
    <br>
    <span data-th-if="*{isRush}">
        <span th:utext="${'Rush: '+'&#36;'+'&nbsp;'+'2'}" ></span>
    </span>
    <br>
    <br>
    <label>Total cost: </label><label data-th-text="*{totalRush}"></label>


</body>
</html>